*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
.container{
    height: 400px;
    width: 400px;
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 

    /* flex-flow: column nowrap; */

    justify-content: center;

    align-items: center;

    align-content: flex-start;

    /*gap: 10px; */
}

.box{
    border: 1px solid brown;
    background-color: aqua;
    flex-basis: 50%;
    
}

#box1{
    order: 1;
    /*align-self: flex-start;
    flex-grow: 1;
    flex-shrink: 4;
    */
}

#box3{
    order: 8;
    /*align-self: stretch;*/
}

#box2{
    order: 5;
   /* align-self: flex-end; */
}

