/* write your css here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 3rem;
    border: 7px dashed rgb(1,17,160);
    border-radius: 20px;
    margin: 6vh; 
    padding: 1vh 5vh; 
    text-align: center;
    
}